.NavListItems {
	margin: 10px 0;
	box-sizing: border-box;
	display: block;
	width: 100%;
}

.NavListItems a {
	color: #8f5c2c;
	text-decoration: none;
	width: 100%;
	box-sizing: border-box;
	display: block;
}

.NavListItems a:hover,
.NavListItems a:active,
.NavListItems a.active {
	color: #40a4c8;
}

@media (min-width: 500px) {
	.NavListItems {
		margin: 0;
		display: flex;
		height: 100%;
		width: auto;
		align-items: center;
	}

	.NavListItems a {
		color: white;
		height: 100%;
		padding: 16px 10px;
		border-bottom: 4px solid transparent;
	}

	.NavListItems a:hover,
	.NavListItems a:active,
	.NavListItems a.active {
		background-color: #8f5c2c;
		border-bottom: 4px solid #40a4c8;
		color: white;
	}
}
